* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
  height: 100vh;
}
.contoller_play {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.6s ease-out;
}
.line1,
.line2 {
  width: 40px;
  height: 100px;
  background: #333;
  transition: all 0.6s ease-out;
}
.line1 {
  clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
}
.line2 {
  clip-path: polygon(0 25%, 100% 50%, 100% 50%, 0 75%);
}

.pause {
  clip-path: polygon(10% 0, 90% 0, 90% 100%, 10% 100%);
  transition: all 0.5s ease-out;
}
/* 
.controller_next,
.controller_previous {
} */
