* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
  height: 100vh;
  background: #59cbe5;
  font-family: "Poppins", sans-serif;
}
$controllerSize: 20px;
$playerWidth: 300px;
$playerPrimeColor: #b7cece;
$playerSecondaryColor: #6e7e85;
@import "./components/musicPlayer";
@import "./components/progress";
@import "./components/controller";
@import "./components/musicList";
@import "./components/playing";
.screen {
  background: #fff;
  margin: 20px;
}
.thumbnail {
  width: 100%;
  height: 0.7 * $playerWidth;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  img {
    height: 100%;
    object-fit: contain;
  }
}

.openPlaylist {
  height: 320px;
}

.openPlaylistThumbnail {
  height: 10px;
  opacity: 0;
}
#viewController {
  position: absolute;
  top: 10px;
  right: 30px;
  background: #333;
  height: 50px;
  width: 50px;
  padding: 2px 10px;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  outline: none;
  border: none;
  &:active {
    background: #444;
  }
}
.twoDview {
  transform: rotate(0deg) skew(0deg) translate(0, 0);
  transition: 0.5s;
}
